.content-introduction {
  font-size: .875em;
  font-style: italic;
  line-height: 1.3125em;
  margin-bottom: 1.3125em;
}
.content-highlight { background-color:#ffffaa; }
.content-pad { padding:.75em; }
.content-clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.content-column {
  float:left;
  display:block;
  margin-right:10px;
  width:230px;
}
.content-float-left {
  float:left;
  display:block;
}
.content-float-right {
  float:left;
  float:right;
  display:block;
}
.content-align-center {
  text-align: center;
}
html { font-size:100.01%; }
body {
  font-size:85%;
  color:#333333;
  font-family:"Droid Sans", Arial, sans-serif;
  margin:0;
  padding: 10px;
}
a {
  color:#0e3dc4;
  text-decoration:none;
}
a:hover, a:active { color:#000000; }
h1 {
  font-family:"Droid Sans", Arial, sans-serif;
  font-weight:bold;
  margin:0;
  font-size:1.8em;
  line-height:1.6;
  margin-bottom:0.83em;
}
h2 {
  font-family:"Droid Sans", Arial, sans-serif;
  font-weight:bold;
  margin:0;
  font-size:1.5em;
  line-height:1;
  margin-bottom:1em;
}
h3 {
  font-family:"Droid Sans", Arial, sans-serif;
  font-weight:bold;
  margin:0;
  font-size:1.2em;
  line-height:1.25;
  margin-bottom:1.25em;
}
h4 {
  font-family:"Droid Sans", Arial, sans-serif;
  font-weight:bold;
  font-weight:bold;
  margin:0;
  font-size:1em;
  margin-bottom:1.5em;
}
h5, h6 {
  font-family:"Droid Sans", Arial, sans-serif;
  font-weight:bold;
  font-weight:bold;
  margin:0;
  font-size:1em;
  margin-bottom:1.5em;
}
table { border-collapse:collapse; margin-bottom: 1.5em;}
table thead th {
  font-weight:bold;
  font-size:0.875em;
  color:#666666;
}
table thead th.empty { border-bottom:1px solid #ffffff; }
table tbody th {
  font-weight:normal;
  background-color:#eeeeee;
  color:#555555;
}
table td {
  text-align:left;
  padding:2px 11px 2px 11px;
  border:2px solid #ffffff;
  font-weight:bold;
  background-color:#dddddd;
  color:#444444;
  line-height:1.5;
}
table th {
  text-align:left;
  padding:2px 11px 2px 11px;
  border:2px solid #ffffff;
}
table tr:hover td, table tbody tr:hover th {
  background-color:#dddddd;
  color:#000000;
}
ul, ol { margin:0 0 1.5em 1.5em; }
ul li, ol li { margin:0 0 .75em 0; }
ul ul, ul ol, ol ul, ol ol { margin:.75em 0 .75em 1.5em; }
ul li { list-style-type:disc; }
ol li { list-style-type:decimal; }
ul.inline { display:inline; }
ul.inline li {
  display:inline;
  margin:0 0 0 .75em;
}
p, pre { margin-bottom:1.5em; }
blockquote {
  margin-bottom:1.5em;
  margin-bottom:1.3125em;
  padding:.25em .75em;
  font-size:.875em;
  line-height:1.3125em;
  background-color:#dddddd;
}
blockquote p { margin:.25em 0; }
