/* $Id$ */
/* vim:set fdm=marker: */

/**
 * E-center Project: Site styles
 */

/* --- Structure --- */
/* Typography {{{ */
/*
 * The absolute base font size, just like Blueprint, is 16px. The effective
 * base font size is 14px (87.5% of 16px).
 */
@font-face {
  font-family:'Raleway';
  src:url(../font/raleway_thin.otf) format('opentype');
}
@font-face {
  font-family: "Droid Sans";
  src: local("Droid Sans"),
       local("DroidSans"),
       url(../font/DroidSans.ttf) format("truetype");
}
@font-face {
  font-family: "Droid Sans";
  font-weight: bold;
  src: local("Droid Sans Bold"),
       local("DroidSans-Bold"),
       url(../font/DroidSans-Bold.ttf) format("truetype");
}
*/
/* }}} */
/* Document level elements {{{ */
html {
  font-size:100.01%;
}
body {
  font-size: 87.5%; /* 14px */
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
:root {
  overflow-y: scroll;
}
/* }}} */
/* Clearing {{{ */
/**
 * Based on How To Clear Floats Without Structural Markup
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix {
  display: block;
}
/* }}} */
/* Columns {{{ */
body.sidebar-right #content {
  float: left;
  width: 660px;
  margin-right: 30px;
}
body.sidebar-right #sidebar-right {
  float: left;
  width: 250px;
}
/* }}} */

/* --- Markup --- */
/* Links {{{ */
a {
  color: #b00;
  text-decoration: none;
}
a:hover {
  color: #555;
}
/* }}} */
/* Headers {{{ */
h1,h2,h3,h4,h5,h6 {
  color: #333;
  font-weight: bold;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

h1 { 
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: .6em;
}
h2 {
  font-size: 1.8em;
  line-height: 1.6;
  margin-bottom: 0.83em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em; 
  font-weight: bold; 
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em; font-weight: bold;
}
/* }}} */

/* --- Content markup --- */
/* Tables {{{ */
#content-body table {
  border-collapse: collapse;
}
#content-body table tr.odd {
  background-color: #fafafa;
}
#content-body table tr.even {
  background-color: #eee;
}
#content-body table thead th {
  text-align: center;
  background-color: #555;
  color: #fff;
  font-weight: normal;
  font-size: 0.875em;
}
#content-body table thead th a {
  color: #fff;
}
#content-body table td, #content-body table th {
  border: 1px solid #999;
  padding: .2em .5em;
}
/* }}} */
/* Lists {{{ */
#content-body ul {
  margin-bottom: 1.5em;  
}
#content-body li {
  margin: .5em 0 .5em 1.5em;
}
/* }}} */
/* Paragraph and text {{{ */
.help p,
#content-body p,
#content-body blockquote {
  margin-bottom: 1.5em;
}
/* }}} */
/* Text-like entities {{{ */
.messages {
  margin-bottom: 1.5em;
}
/* }}} */

/* --- Sidebar markup --- */
/* Lists {{{ */
#content-wrapper .sidebar ul,
#content-wrapper .sidebar ol {
  margin: .75em 0;
}
#content-wrapper .sidebar ul ul,
#content-wrapper .sidebar ol ol,
#content-wrapper .sidebar ul ol,
#content-wrapper .sidebar ol ul {
  margin: 0
}
#content-wrapper .sidebar li {
  margin: .1em 0 .1em 2em;
}
#content-wrapper .sidebar li li {
  margin: .1em 0 .1em 1.5em;
}
/* }}} */

/* --- Forms and administration --- */
/* Form items {{{ */
input.form-submit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ddd;
  border: 1px solid #777;
  text-shadow: 1px 1px #eee;
  text-transform: uppercase;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  font-weight: bold;
  padding: 0 3px;
  color: #444;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}
span.form-quickselect_dropdown {
  font-size: 1.25em;
  position: relative;
  top: 2px;
  background-color: #ddd;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 0 3px;
  color: #777;
  cursor: pointer;
  margin-left: -1px;
  -moz-box-shadow: 1px 1px .1em 0 #ddd;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}
span.form-quickselect_dropdown:hover {
  color: #111;
}
span.form-quickselect_dropdown.disabled:hover {
  cursor: default;
  color: #777;
}
input.form-text, input.form-quickselect {
  padding: 2px 3px;
  border: 1px solid #aaa;
  -moz-box-shadow: 1px 1px .1em 0 #ddd;
}
.form-required {
  color: #c00;
  font-weight: bold;
}
#content-body .form-item {
  margin-bottom: 1.5em;
}
#content-body .form-item .description,
#content-body fieldset .description {
  font-size: .875em;
  color: #555;
}
#content-body .form-item label {
  font-weight: bold;
}
#content-body .form-radios {
  margin-bottom: 1.5em;
}
#content-body .form-radios .form-item {
  margin-bottom: 0;
}
/* }}} */
/* Fieldsets {{{ */
fieldset legend {
  font-size: 1.14em;
  font-weight: bold;
  padding: 0 8px 0 5px;
}
fieldset {
  margin-bottom: .5em;
  border: 1px solid #ccc;
  padding: 0 2.5em 0 0;
}
fieldset .description {
  margin-bottom: .5em;
}
.fieldset-wrapper {
  padding-top: .75em;
  padding-left: 1em;
}
/* }}} */
/* Autocomplete styles {{{ */
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid #aaa;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
  -moz-box-shadow: 1px 1px .1em 0 #999;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../../../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}
/* }}} */

/* --- Page elements --- */
/* Page header {{{ */
#header-wrapper {
  padding: 5px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h1#site-name {
  float: left;
  margin-bottom: 0;
  font-size: 2.15em;
  line-height: 1;
}
h1#site-name a {
  color: #444;
  text-decoration: none;
}
h1#site-name a:hover {
  color: #b00;
}
#header-wrapper .site-slogan {
  float: left;
  margin-left: .75em;
  margin-top: 1.14em;
  color: #555;
  line-height: 1;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
/* }}} */
/* Content {{{ */
#content-wrapper {
  margin-top: 1em;
  margin-left: 20px;
  width: 940px;
}
/* }}} */
/* Navigation tabs (primary links) {{{ */
#navigation {
  padding: 0 20px;
  border-bottom: 1px solid #999;
  margin-bottom: 8px;
}
#navigation ul li {
  list-style-type: none;
  float: left;
}
#navigation ul li a {
  line-height: 1;
  color: #fff;
  background-color: #999;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.07em;
  display: block;
  padding: 6px 9px 4px 9px;
  border: 1px solid #999;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  margin-right: 5px;
  margin-bottom: -1px;
}
#navigation ul li a:hover {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #222;
}
#navigation ul li.active-trail a {
  color: #777;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  cursor: default;
}
/* }}} */
/* Navigation search {{{ */
#navigation .block-search {
  float: right;
  margin-top: -4px;
}
#navigation .block-search .form-item {
  display: inline;
}
#navigation .block-search .form-text {
  font-size: 1.07em;
  line-height: 1.6;
  margin-right: 2px;
  width: 170px;
}
/* }}} */
/* Page tasks {{{ */
#tasks .tabs {
  width: 100%;
  float: left;
}
#tasks {
  margin-bottom: 1.5em;
  padding: .25em 0;
}
#tasks a {
  display: block;
  padding: .1em .5em;
  -moz-border-radius: 8px;
}
#tasks a:hover {
  background-color: #aaa;
}
#tasks .active a {
  background-color: #ccc;
}
#tasks ul.tabs {
  padding-left: 12px;
}
#tasks ul.tabs li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}
/* }}} */
/* Breadcrumbs {{{ */
#breadcrumb {
  margin-left: 20px;
}
/* }}} */

/* -- Extended styles --- */
/* E-Center Custom Login Block {{{ */
#block-ecenter_blocks-login {
  margin-top: .4em;
  float: right;
}
#block-ecenter_blocks-login li {
  display: inline;
  margin-right: 10px;
  list-style-type: none;
}
/* }}} */

/* -- Weathermap -- */
/* Map {{{ */
#weathermap-wrapper {
  margin-bottom: 1.5em;
}
#weathermap-map {
  width: 660px;
  float: left;
  margin-right: 20px;
}
#weathermap-results {
  float: left;
  width: 260px;
}
/* }}} */
/* Source/destination selector {{{ */
#ip-select-wrapper {
  margin-top: 1.5em;
  background-color: #dedede;
  padding: 13px 8px;
  -moz-box-shadow: 3px 2px .4em 0 #888;
  margin-bottom: 1em;
  border: 1px solid #999;
}
#ecenter-weathermap-select-form .form-quickselect {
  width: 330px;
  font-size: 1.25em;
}
#ecenter-weathermap-select-form #src-ip-wrapper,
#ecenter-weathermap-select-form #dst-ip-wrapper {
  margin-top: .75em;
  width: 460px;
  float: left;
}
#ecenter-weathermap-select-form .form-item {
  margin-bottom: 0;
}
/* }}} */
/* Loading {{{ */
#ecenter-weathermap-select-form.data-loading .datehide-display .date {
  background-color: #eee;
  color: #aaa;
}
#ecenter-weathermap-select-form .progress-disabled {
  float: none;
}
/* }}} */
/* Date selector {{{ */
#ecenter-weathermap-select-form .datehide-display .date {
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 0 7px;
  background-color: #fff;
}
#ecenter-weathermap-select-form .label {
  width: 80px;
  font-weight: bold;
  float: left;
}
#ecenter-weathermap-select-form .button {
  background-color: #ddd;
  border: 1px solid #aaa;
  padding: 0 3px;
  color: #777;
  cursor: pointer;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}

#ecenter-weathermap-select-form .hover .date,
#ecenter-weathermap-select-form .hover .button {
  border-color: #555;
}
#ecenter-weathermap-select-form .datehide-display-wrapper .open .date {
  border-bottom: none;
  border-color: #aaa;
}
#ecenter-weathermap-select-form .datehide-display-wrapper .open .button {
  border-color: #555;
  border-bottom-color: rgb(204, 204, 204);
}
#date-wrapper .container-inline-date {
  clear: none;
  float: left;
  width: 410px;
}
#date-wrapper .form-item {
  margin-bottom: 0;
}
#date-wrapper .container-inline-date label {
  float: left;
  margin-right: 6px;
  width: 80px;
}
#date-wrapper {
  border: 1px solid #555;
  background-color: rgb(204, 204, 204);
  padding: 5px 7px;
}
#date-wrapper #description-wrapper {
  float: left;
  width: 100%;
}
#ecenter-weathermap-select-form #edit-date-wrapper-start-date-wrapper,
#ecenter-weathermap-select-form #edit-date-wrapper-end-date-wrapper {
  float: left;
}
#ecenter-weathermap-select-form #date-wrapper .description {
  display: none;
}
#edit-date-wrapper-start-date-timeEntry-popup-1,
#edit-date-wrapper-end-date-timeEntry-popup-1 {
  width: 50px;
}
/* }}} */
/* Results display {{{ */
#results-wrapper {
  margin-top: 1.5em;
}
html.js .end-to-end-results {
  display: none;
}
/* }}} */
/* Traceroute "subway map" {{{ */
.traceroute-graph-wrapper .traceroute-label {
  line-height: 1;
  font-size: 12px;
}
.traceroute-graph-wrapper .labels-left .traceroute-label {
  text-align: right;
}
.hop-wrapper {
  background-color: #fff;
  padding: 14px;
  border: 3px solid #ccc;
}
#traceroute .has-chart {
  color: #007700;
}
/* }}} */



/* --- Overrides and fixes --- */
/* Fix vertical tabs and views vertical tabs {{{ */
#content-body div.vertical-tabs ul.vertical-tabs-list li,
#content-body .views-tabset .views-tabs ul li {
  margin: 0;
}
#content-body div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: .5em 1em;
}
/* }}} */
/* Views quick links {{{ */
#content-body .views-quick-links ul li {
  display: inline;
  margin: 0;
}
/* }}} */
/* Table of contents {{{ */
.toc ul {
  color: #666;
  list-style-type: square;
}
/* }}} */
/* Node editing form:  @TODO split files {{{ */
#node-form .body-wrapper .body-edit {
  float: left;
  width: 620px;
  margin-right: 20px;
}
#node-form .body-wrapper .image-attachments-edit {
  float: left;
  width: 260px;
}
/* }}} */
/* WYSIWYG {{{ */
#content-body table.mceLayout {
  border: 1px solid #ccc;
}
#content-body table.mceLayout td,
#content-body table.mceLayout th {
  border: none;
  padding: 0;
}
#content-body table.mceLayout td.mceToolbar {
  border-bottom: 1px solid #ccc;
  padding-top: 2px;
}
#content-body table.mceLayout td.mceStatusbar {
  border-top: 1px solid #ccc;
  padding-left: 3px;
  padding-top: 1px;
}
/* }}} */
