/* $Id$ */
/* vim:set fdm=marker: */

/**
 * E-center Project: Site styles
 */

/* --- Structure --- */
/* Typography {{{ */
/*
 * The absolute base font size, just like Blueprint, is 16px. The effective
 * base font size is 14px (87.5% of 16px).
 */
@font-face {
  font-family:'Raleway';
  src:url(../font/raleway_thin.otf) format('opentype');
}
@font-face {
  font-family: "Droid Sans";
  src: local("Droid Sans"),
       local("DroidSans"),
       url(../font/DroidSans.ttf) format("truetype");
}
@font-face {
  font-family: "Droid Sans";
  font-weight: bold;
  src: local("Droid Sans Bold"),
       local("DroidSans-Bold"),
       url(../font/DroidSans-Bold.ttf) format("truetype");
}
/* }}} */
/* Un-resets {{{ */
/* Some styles are clobbered by reset.css that we want to work */
em {
  font-style: italic;
}
ul, ol {
  margin-bottom: 0;
}
/* }}} */
/* Document level elements {{{ */
html {
  font-size:100.01%;
}
body {
  font-size: 100%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
:root {
  overflow-y: scroll;
}
/* }}} */
/* Clearing {{{ */
.clear-block:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearblock {
  display: block;
}
/* }}} */
/* Columns {{{ */
body.sidebar-right #content {
  float: left;
  width: 660px;
  margin-right: 30px;
}
body.sidebar-right #sidebar-right {
  float: left;
  width: 250px;
}
/* }}} */

/* --- Markup --- */
/* Links {{{ */
a {
  color: #b00;
  text-decoration: none;
}
a:hover {
  color: #555;
}
/* }}} */
/* Headers {{{ */
h1,h2,h3,h4,h5,h6 {
  color: #333;
  font-weight: bold;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

h1 {
  font-size: 1.8em;
  line-height: 1.6;
  margin-bottom: 0.83em;
}
h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h4 {
  font-size: 1em; 
  font-weight: bold; 
  margin-bottom: 1.5em;
}
h5, h6 {
  font-size: 1em; font-weight: bold;
}
/* }}} */

/* --- Content markup --- */
/* Tables {{{ */
table {
  border-collapse: collapse;
}
table tr.odd {
  background-color: #fafafa;
}
table tr.even {
  background-color: #ddd;
}
table thead th {
  text-align: center;
  background-color: #555;
  color: #fff;
  font-weight: normal;
  font-size: 0.875em;
}
table thead th a {
  color: #fff;
}
table td, table th {
  border: 1px solid #999;
  padding: .2em .5em;
}
/* }}} */
/* Lists {{{ */
#content-body ul {
  margin-bottom: 1.5em;  
}
#content-body li {
  margin: .5em 0 .5em 1.5em;
}
#content-body ul.inline, #content-body ul.inline li {
  display: inline;
}
#content-body ul.inline li {
  margin: 0 0 0 .75em;
}
/* }}} */
/* Paragraph and text {{{ */
.help p,
#content-body p,
#content-body blockquote {
  margin-bottom: 1.5em;
}
/* }}} */
/* Text-like entities {{{ */
.messages {
  margin-bottom: 1.5em;
  font-size: 0.875em;
}
#content-body .messages p {
  margin: .75em 0;
}
/* }}} */
/* Link button style {{{ */
.button, a.button {
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ddd;
  border: 1px solid #777;
  text-shadow: 1px 1px #eee;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  font-weight: bold;
  padding: 2px 5px;
  color: #444;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}
/* }}} */

/* --- Sidebar markup --- */
/* Lists {{{ */
#content-wrapper .sidebar ul,
#content-wrapper .sidebar ol {
  margin: .75em 0;
}
#content-wrapper .sidebar ul ul,
#content-wrapper .sidebar ol ol,
#content-wrapper .sidebar ul ol,
#content-wrapper .sidebar ol ul {
  margin: 0
}
#content-wrapper .sidebar li {
  margin: .1em 0 .1em 2em;
}
#content-wrapper .sidebar li li {
  margin: .1em 0 .1em 1.5em;
}
/* }}} */

/* --- Forms and administration --- */
/* Form items {{{ */
input.form-submit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ddd;
  border: 1px solid #777;
  text-shadow: 1px 1px #eee;
  text-transform: uppercase;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  font-weight: bold;
  padding: 0 3px;
  color: #444;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}
span.form-quickselect_dropdown {
  font-size: 1.25em;
  position: relative;
  top: 2px;
  background-color: #ddd;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 0 3px;
  color: #777;
  cursor: pointer;
  margin-left: -1px;
  -moz-box-shadow: 1px 1px .1em 0 #ddd;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}
span.form-quickselect_dropdown:hover {
  color: #111;
}
span.form-quickselect_dropdown.disabled:hover {
  cursor: default;
  color: #777;
}
input.form-text, input.form-quickselect {
  padding: 2px 3px;
  border: 1px solid #aaa;
  -moz-box-shadow: 1px 1px .1em 0 #ddd;
}
.form-required {
  color: #c00;
  font-weight: bold;
}
.form-item {
  margin-bottom: 1.5em;
}
#content-body .form-item .description,
#content-body fieldset .description {
  font-size: .875em;
  color: #555;
}
#content-body .form-item label {
  font-weight: bold;
}
#content-body .form-radios {
  margin-bottom: 1.5em;
}
#content-body .form-radios .form-item {
  margin-bottom: 0;
}
/* }}} */
/* Fieldsets {{{ */
fieldset legend {
  font-size: 1.14em;
  font-weight: bold;
  padding: 0 8px 0 5px;
}
fieldset {
  margin-bottom: .5em;
  border: 1px solid #ccc;
  padding: .75em 1.5em .75em .75em;
}
fieldset .description {
  margin-bottom: .5em;
}
.fieldset-wrapper {
  padding-top: .75em;
  padding-left: 1em;
}
/* }}} */
/* Autocomplete styles {{{ */
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid #aaa;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
  -moz-box-shadow: 1px 1px .1em 0 #999;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../../../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}
/* }}} */

/* --- Page elements --- */
/* Page header {{{ */
#header-wrapper {
  padding: 5px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h1#site-name {
  float: left;
  margin-bottom: 0;
  font-size: 2.15em;
  line-height: 1;
}
h1#site-name a {
  color: #444;
  text-decoration: none;
}
h1#site-name a:hover {
  color: #b00;
}
#header-wrapper .site-slogan {
  float: left;
  margin-left: .75em;
  margin-top: 1.14em;
  color: #555;
  line-height: 1;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
/* }}} */
/* Content {{{ */
#content-wrapper {
  margin-top: 1em;
  margin-left: 20px;
  width: 940px;
}
/* }}} */
/* Navigation tabs (primary links) {{{ */
#navigation {
  padding: 0 20px;
  border-bottom: 1px solid #999;
  margin-bottom: 8px;
  font-size: 0.875em; /* 14px */
}
#navigation ul li {
  list-style-type: none;
  float: left;
}
#navigation ul li a {
  line-height: 1;
  color: #fff;
  background-color: #999;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.07em;
  display: block;
  padding: 6px 9px 4px 9px;
  border: 1px solid #999;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  margin-right: 5px;
  margin-bottom: -1px;
}
#navigation ul li a:hover {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #222;
}
#navigation ul li.active-trail a {
  color: #777;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  cursor: default;
}
/* }}} */
/* Navigation search {{{ */
#navigation .block-search {
  float: right;
  margin-top: -4px;
}
#navigation .block-search .form-item {
  display: inline;
}
#navigation .block-search .form-text {
  font-size: 1.07em;
  line-height: 1.6;
  margin-right: 2px;
  width: 170px;
}
/* }}} */
/* Page tasks {{{ */
#tasks .tabs {
  width: 100%;
  float: left;
}
#tasks {
  margin-bottom: 1.5em;
  padding: .25em 0;
}
#tasks a {
  display: block;
  padding: .1em .5em;
  -moz-border-radius: 8px;
}
#tasks a:hover {
  background-color: #aaa;
  color: #fff;
}
#tasks .active a {
  background-color: #ccc;
}
#tasks .active a:hover {
  color: #b00;
  cursor: default;
}
#tasks ul.tabs {
  padding-left: 12px;
}
#tasks ul.tabs li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}
/* }}} */
/* Breadcrumbs {{{ */
#breadcrumb {
  margin-left: 20px;
}
/* }}} */

/* -- Extended styles --- */
/* E-Center Custom Login Block {{{ */
#block-ecenter_core-login {
  margin-top: .4em;
  float: right;
}
#block-ecenter_core-login li {
  display: inline;
  margin-right: 10px;
  list-style-type: none;
}
/* }}} */

/* -- Common Drupal objects -- */
/* Nodes {{{ */
#page-title {
  margin-bottom: .25em;
}
.node .picture {
  float: left;
  margin-right: 6px;
  margin-top: 5px;
}
.node .submitted,
.comment .submitted {
  line-height: 1;
  margin-bottom: .5em;
  font-size: .8em;
  font-weight: bold;
  color: #555;
}
.node-type-issue .node .content {
  margin-left: 48px;
}
/* }}} */
/* Node terms {{{ */
.terms {
  margin-bottom: 1.5em;
}
/* }}} */
/* Comments {{{ */
.comment-wrapper-title {
  border-bottom: 1px solid #999;
}
#comments .comment {
  margin-bottom: 3em;
}
#comments .picture {
  float: left;
  margin-right: 8px;
  margin-top: 2px;
}
#comments .picture img {
  width: 32px;
  height: 32px;
}
#comments .comment-title {
  display: none;
}
#comments .comment .content {
  font-size: .875em;
  margin-left: 38px;
  margin-bottom: .75em;
}
#comments .links {
  margin-left: 38px;
}
#comments .links li {
  list-style-type: none;
  float: left;
  margin: 0;
}
#comments .links li a {
  display: block;
  margin-right: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ddd;
  border: 1px solid #aaa;
  padding: 3px 8px;
  line-height: 1;
  font-size: .7em;
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}
#comment-form .form-item {
  margin-bottom: .5em;
}
#comment-form label {
  float: left;
  width: 110px;
  font-size: .875em;
  line-height: 1.9;
}
#comment-form #edit-comment-wrapper .resizable-textarea {
  width: 500px;
}
#comment-form #edit-comment-wrapper .grippie {
  margin-left: 110px;
}
#comments .box h2 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: .5em;
  border-bottom: 1px solid #999;
}
/* }}} */

/* --- Overrides and fixes --- */
/* Fix vertical tabs and views vertical tabs {{{ */
#content-body div.vertical-tabs ul.vertical-tabs-list li,
#content-body .views-tabset .views-tabs ul li {
  margin: 0;
}
#content-body div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: .5em 1em;
}
/* }}} */
/* Views quick links {{{ */
#content-body .views-quick-links ul li {
  display: inline;
  margin: 0;
}
/* }}} */
/* Table of contents {{{ */
.toc ul {
  color: #666;
  list-style-type: square;
}
/* }}} */
/* Node editing form:  @TODO split files {{{ */
#node-form .body-wrapper .body-edit {
  float: left;
  width: 620px;
  margin-right: 20px;
}
#node-form .body-wrapper .image-attachments-edit {
  float: left;
  width: 260px;
}
/* }}} */
/* Date picker {{{ */
.ui-datepicker {
  font-size: .8em;
}
/* }}} */
/* WYSIWYG {{{ */
#content-body table.mceLayout {
  border: 1px solid #aaa;
}
#content-body table.mceLayout td,
#content-body table.mceLayout th {
  border: none;
  padding: 0;
}
#content-body table.mceLayout td.mceToolbar {
  border-bottom: 1px solid #aaa;
  padding-top: 2px;
}
#content-body table.mceLayout td.mceStatusbar {
  border-top: 1px solid #aaa;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 10px;
}
#content-body #edit-body_tbl {
  -moz-box-shadow: 1px 1px .1em 0 #aaa;
}
/* }}} */
