/* $Id$ */
/* vim:set fdm=marker: */

/**
 * E-center Project: Site styles
 */
/* --- Structure --- */
/* Typography {{{ */
/*
 * The absolute base font size, just like Blueprint, is 16px. The effective
 * base font size is 14px (87.5% of 16px).
 */
@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans"),
       local("DroidSans"),
       url(../font/DroidSans.ttf) format("truetype");
}
@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Droid Sans Bold"),
       local("DroidSans-Bold"),
       url(../font/DroidSans-Bold.ttf) format("truetype");
}
/* }}} */
/* Un-resets {{{ */
/* Some styles are clobbered by reset.css that we want to work */
em {
  font-style: italic;
}
ul, ol {
  margin-bottom: 0;
}
/* }}} */
/* Document level elements {{{ */
html {
  font-size:100.01%;
}
body {
  font-size: 100%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
  margin: 0;
}
:root {
  overflow-y: scroll;
}
/* }}} */
/* Clearing {{{ */
.clear-block:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearblock {
  display: block;
}
/* }}} */
/* Columns {{{ */
body.sidebar-right #content {
  float: left;
  width: 660px;
  margin-right: 30px;
}
body.sidebar-right #sidebar-right {
  float: left;
  width: 250px;
}
/* }}} */

/* --- Variables --- */
/* Variables {{{ */
@color_blue: #0e3dc4;
@color_black: #000000;
@color_extra_light_grey: #f3f3f3;
@color_light_grey: #dddddd;
@color_medium_light_grey: #ccc;
@color_medium_grey: #bbbbbb;
@color_dark_grey: #999999;
@color_black_warm: #555555;
@color_black_medium: #777777;
@color_white: #ffffff;
@color_yellow: #ffffaa;
@color_body: #333333;
@font_droid: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
@padding_page: 15px;
/* }}} */
/* Mixins {{{ */
// Hide
.page_side_padding {
  padding-left: @padding_page;
  padding-right: @padding_page;
}
.page_top_padding {
  padding-top: @padding_page - 10;
  padding-bottom: @padding_page;
}
.reset_padding {
  margin-top: -@padding_page + 10;
  margin-bottom: -@padding_page;
  margin-left: -@padding_page;
  margin-right: -@padding_page;
}
.hide {
  display: none;
}
// Light gradient
.gradient_light {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color_white', endColorstr='@color_medium_grey'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(@color_white), to(@color_medium_grey)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  @color_white,  @color_medium_grey); /* for firefox 3.6+ */
}
.gradient_dark {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color_light_grey', endColorstr='@color_dark_grey'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(@color_light_grey), to(@color_dark_grey)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  @color_light_grey,  @color_dark_grey); /* for firefox 3.6+ */
}
// No shadow
.no_shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
// Button
.button {
  .gradient_light;
  text-shadow: 0 1px 1px #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid @color_dark_grey;
  color: @color_black_warm;
  text-align: center;
  padding: 2px 7px;
  cursor: pointer;
  background-color: #ddd;
  font-family: @font_droid; 
  font-weight: bold;
  font-size: 1em;
  :hover { 
    color: @color_black;
    border-color: @color_black_warm;
    cursor: default; 
  }
}
/* }}} */

/* -- Common elements --- */
/* Links {{{ */
a {
  color: @color_blue;
  text-decoration: none;
}
a:hover {
  color: @color_black;
  background-color: @color_yellow;
}
/* }}} */
/* Headers {{{ */
h1,h2,h3,h4,h5,h6 {
  font-family: @font-droid;
  color: @color_body;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 1.8em;
  line-height: 1.6;
  margin-bottom: 0.83em;
}
h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h4 {
  font-size: 1em; 
  font-weight: bold; 
  margin-bottom: 1.5em;
}
h5, h6 {
  font-size: 1em; font-weight: bold;
}
/* }}} */
/* Tables {{{ */
table {
  border-collapse: collapse;
}
table tr.odd {
  background-color: #fafafa;
}
table tr.even {
  background-color: #ddd;
}
table thead th {
  text-align: center;
  background-color: #555;
  color: #fff;
  font-weight: normal;
  font-size: 0.875em;
}
table thead th a {
  color: #fff;
}
table td, table th {
  border: 1px solid #999;
  padding: .2em .5em;
}
/* }}} */
/* Lists {{{ */
#content-body ul {
  margin-bottom: 1.5em;  
}
#content-body li {
  margin: .5em 0 .5em 1.5em;
}
#content-body ul.inline, #content-body ul.inline li {
  display: inline;
}
#content-body ul.inline li {
  margin: 0 0 0 .75em;
}
/* }}} */
/* Paragraph and text {{{ */
.help p,
#content-body p,
#content-body blockquote {
  margin-bottom: 1.5em;
}
/* }}} */
/* Text-like entities {{{ */
.messages {
  margin-bottom: 1.5em;
  font-size: 0.875em;
}
#content-body .messages p {
  margin: .75em 0;
}
/* }}} */

/* --- Forms and administration --- */
/* Form items {{{ */
input, button, textarea {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  margin: 0;
  padding: 1px 3px;
}
input.form-submit {
  .button;
}
.form-required {
  color: #c00;
  font-weight: bold;
}
.form-item {
  margin-bottom: 1.5em;
}
#content-body .form-item .description,
#content-body fieldset .description {
  font-size: .875em;
  color: #555;
}
#content-body .form-item label {
  font-weight: bold;
}
#content-body .form-radios {
  margin-bottom: 1.5em;
}
#content-body .form-radios .form-item {
  margin-bottom: 0;
}
/* }}} */
/* Fieldsets {{{ */
fieldset legend {
  font-size: 1.14em;
  font-weight: bold;
  padding: 0 8px 0 5px;
}
fieldset {
  margin-bottom: .5em;
  border: 1px solid #ccc;
  padding: .75em 1.5em .75em .75em;
}
fieldset .description {
  margin-bottom: .5em;
}
.fieldset-wrapper {
  padding-top: .75em;
  padding-left: 1em;
}
/* }}} */

/* --- Page elements --- */
/* Containers {{{ */
#content-wrapper {
  .page_side_padding;
  .page_top_padding;
  width: 940px;

  #ecenter-network-select-form {
    .reset_padding;
  }
}
/* }}} */
/* Page header {{{ */
#header-wrapper {
  font-family: @font_droid;
  color: @color_medium_grey;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color_black_warm', endColorstr='@color_black'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(@color_black_warm), to(@color_black)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  @color_black_warm,  @color_black); /* for firefox 3.6+ */

    .page_side_padding;
    padding-top: 8px;
    padding-bottom: 8px;

  #site-name {
    float: left;
    margin-bottom: 0;
    font-size: 1.75em;
    line-height: 1;
  }

  a {
    color: @color_white;
    :hover {
      color: @color_yellow;
      background: none;
    }
  }

  .site-slogan {
    float: left;
    margin-left: .75em;
    margin-top: 1.14em;
    color: #555;
    line-height: 1;
  }

}
/* }}} */
/* Navigation tabs (primary links) {{{ */
#navigation {
  .gradient_dark;
  .page_side_padding;
  border-bottom: 1px solid #999;
  font-size: 0.875em; /* 15px */

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 4px 3px 4px 0;
  }

  .block-menu a {
    display: block;
    text-shadow: 0 1px 1px #fff;
    padding: 3px 6px;
    cursor: pointer;
    font-family: @font_droid;
    font-weight: bold;
    font-size: 1em;
    background-color: transparent;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid rgba(255,255,255,0);
    color: @color_black;
    :hover { color: @color_black; background-color: @color_white; cursor: default; border: 1px solid @color_dark_grey; }
  }

  .block-menu .active-trail a {
    -moz-box-shadow:inset -2px -2px 5px @color_medium_light_grey;
    -webkit-box-shadow:inset 0 3px 3px @color_black_warm;
    box-shadow:inset 0 3px 3px @color_black_warm;
    background-color: @color_white;
    border: 1px solid @color_dark_grey;
  }

  .block-title {
    .hide;
  }

  .block-search {
    float: right;
    width: 248px;
    margin-top: 6px;
    .form-item {
      float: left;
      margin: 0;
    }
    :hover .form-text, :hover input.form-submit {
      border-color: @color_black_warm;
    }
    :hover .form-text {
      background-color: @color_white;
    }
    :hover input.form-submit {
      border-left: 1px solid @color_dark_grey;
    }
    input {
      height: 1.8em;
      font-size: .925em;
    }
    .form-text {
      .no_shadow;
      width: 180px;
      margin: 0;
      padding: 0 5px;
      border: 1px solid @color_dark_grey;
      border-right: none;
      -webkit-border-top-left-radius: 7px;
      border-top-left-radius: 7px;
      -moz-border-radius-topleft: 7px;
      -webkit-border-bottom-left-radius: 7px;
      border-bottom-left-radius: 7px;
      -moz-border-radius-bottomleft: 7px;
      background-color: @color_extra_light_grey;
    }
    .form-submit {
      width: 60px;
      padding: 0;
      text-align: center;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-border-top-right-radius: 7px;
      border-top-right-radius: 7px;
      -moz-border-radius-topright: 7px;
      -webkit-border-bottom-right-radius: 7px;
      border-bottom-right-radius: 7px;
      -moz-border-radius-bottomright: 7px;
      margin-right: -5px;
    }
  }
}
/* }}} */
/* Page tasks {{{ */
#tasks {
  margin-top: .75em;
  margin-bottom: .75em;
  font-size: .925em;

  a {
    border: 1px solid @color_white;
    display: block;
    padding: 1px 8px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    :hover {
      .gradient_dark;
      border-color: @color_dark_grey;
      color: #fff;
    }
  }
  .active a, .active a:hover {
    .gradient_light;
    border-color: @color_medium_grey;
    cursor: default;
    color: @color_black_warm;
  }

  ul {
    .page_side_padding;
  }
  ul li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
  }

}
/* }}} */
/* Breadcrumbs {{{ */
#breadcrumb {
  margin-left: 20px;
}
/* }}} */
/* Messages {{{ */
div.messages {
  border: none;
  margin-bottom: 0;
  padding: 5px 15px;
  pre {
    margin: .75em 0;
  }
}
/* }}} */

/* --- Sidebar markup --- */
/* Lists {{{ */
.sidebar ul,
.sidebar ol {
  margin: .75em 0;
}
.sidebar ul ul,
.sidebar ol ol,
.sidebar ul ol,
.sidebar ol ul {
  margin: 0
}
.sidebar li {
  margin: .1em 0 .1em 2em;
}
.sidebar li li {
  margin: .1em 0 .1em 1.5em;
}
/* }}} */

/* -- Extended styles --- */
/* E-Center Custom Login Block {{{ */
#block-ecenter_core-login {
  float: right;
  font-size: .825em;
  margin-top: 5px;
  ul {
    margin: 0;
    text-shadow: 0 1px 2px #000;
  }
  ul li {
    display: inline;
    margin-left: 5px;
    list-style-type: none;
  }
}
/* }}} */
/* E-Center network (@todo move...) {{{ */
body.page-network #content-wrapper {
  background-color: @color_light_grey;
  width: auto;
  #network-wrapper {
    border-bottom: 1px solid @color_dark_grey;
  }
  #network-map {
    float: left;
    width: 660px;
    -moz-box-shadow: 2px 5px 10px @color_black_medium;
    -webkit-box-shadow: 2px 5px 10px @color_black_warm;
    box-shadow: 2px 5px 10px @color_black_warm;
  }
  #query-wrapper {
    float: left;
    width: 300px;
    font-size: .825em;
    margin-top: 10px;
    margin-left: 15px;

    .form-item {
      float: left;
      margin-bottom: 1em;
      .form-item { margin: 0 9px 0 0; };
      label { 
        float: left; 
        width: 85px;
      }
    }


    #edit-network-wrapper-query-start-wrapper,
    #edit-network-wrapper-query-end-wrapper {
      input { font-size: .875em; }
    }

    #edit-network-wrapper-query-start-datepicker-popup-0-wrapper,
    #edit-network-wrapper-query-end-datepicker-popup-0-wrapper {
      width: 100px;
      margin-right: 10px;
    }
    #edit-network-wrapper-query-start-datepicker-popup-0,
    #edit-network-wrapper-query-end-datepicker-popup-0 {
      width: 90px;
    }
    #edit-network-wrapper-query-start-timeEntry-popup-1-wrapper,
    #edit-network-wrapper-query-end-timeEntry-popup-1-wrapper {
      width: 75px;
    }
    #edit-network-wrapper-query-start-timeEntry-popup-1,
    #edit-network-wrapper-query-end-timeEntry-popup-1 {
      width: 50px;
    }

    #src-wrapper input, #dst-wrapper input {
      width: 160px;
    }

    #date-description-wrapper {
      width: 285px;
      float: left;
      font-style: italic;
      font-size: .875em;
    }
  }
  #results-wrapper {
    .page_side_padding;
    .page_top_padding;
    background-color: @color_white;
    padding-top: 40px;
  }
}
/* }}} */
/* Autocomplete styles {{{ */
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid #aaa;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
  -moz-box-shadow: 1px 1px .1em 0 #999;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../../../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}
/* }}} */
/* Combobox {{{ */
.form-combobox {
  input, button {
    border: 1px solid @color_dark_grey;
  }
  input {
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
  }
  button {
    .gradient_light;
    border-left: none;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
  }
}
ul.ui-autocomplete {
  padding: 0;
  background-color: @color_extra_light_grey;
  -moz-box-shadow: 2px 5px 10px @color_black_medium;
  -webkit-box-shadow: 2px 5px 10px @color_black_warm;
  box-shadow: 2px 5px 10px @color_black_warm;
  li { 
    list-style-type: none; 
    padding: 1px 3px;
  }
}

/* }}} */


/* -- Common Drupal objects -- */
/* Nodes {{{ */
#page-title {
  margin-bottom: .25em;
}
.node .picture {
  float: left;
  margin-right: 6px;
  margin-top: 5px;
}
.node .submitted,
.comment .submitted {
  line-height: 1;
  margin-bottom: .5em;
  font-size: .8em;
  font-weight: bold;
  color: #555;
}
.node-type-issue .node .content {
  margin-left: 48px;
}
/* }}} */
/* Node terms {{{ */
.terms {
  margin-bottom: 1.5em;
}
/* }}} */
/* Comments {{{ */
.comment-wrapper-title {
  border-bottom: 1px solid #999;
}
#comments .comment {
  margin-bottom: 3em;
}
#comments .picture {
  float: left;
  margin-right: 8px;
  margin-top: 2px;
}
#comments .picture img {
  width: 32px;
  height: 32px;
}
#comments .comment-title {
  display: none;
}
#comments .comment .content {
  font-size: .875em;
  margin-left: 38px;
  margin-bottom: .75em;
}
#comments .links {
  margin-left: 38px;
}
#comments .links li {
  list-style-type: none;
  float: left;
  margin: 0;
}
#comments .links li a {
  display: block;
  margin-right: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ddd;
  border: 1px solid #aaa;
  padding: 3px 8px;
  line-height: 1;
  font-size: .7em;
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(204,204,204)),
    color-stop(0.57, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 22%,
    rgb(238,238,238) 57%
  );
}
#comment-form .form-item {
  margin-bottom: .5em;
}
#comment-form label {
  float: left;
  width: 110px;
  font-size: .875em;
  line-height: 1.9;
}
#comment-form #edit-comment-wrapper .resizable-textarea {
  width: 500px;
}
#comment-form #edit-comment-wrapper .grippie {
  margin-left: 110px;
}
#comments .box h2 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: .5em;
  border-bottom: 1px solid #999;
}
/* }}} */

/* --- Overrides and fixes --- */
/* Views quick links {{{ */
#content-body .views-quick-links ul li {
  display: inline;
  margin: 0;
}
/* }}} */
/* Node editing form:  @TODO split files {{{ */
#node-form .body-wrapper .body-edit {
  float: left;
  width: 620px;
  margin-right: 20px;
}
#node-form .body-wrapper .image-attachments-edit {
  float: left;
  width: 260px;
}
/* }}} */
/* Date picker {{{ */
.ui-datepicker {
  font-size: .8em;
}
/* }}} */
/* WYSIWYG {{{ */
#content-body table.mceLayout {
  border: 1px solid #aaa;
}
#content-body table.mceLayout td,
#content-body table.mceLayout th {
  border: none;
  padding: 0;
}
#content-body table.mceLayout td.mceToolbar {
  border-bottom: 1px solid #aaa;
  padding-top: 2px;
}
#content-body table.mceLayout td.mceStatusbar {
  border-top: 1px solid #aaa;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 10px;
}
#content-body #edit-body_tbl {
  -moz-box-shadow: 1px 1px .1em 0 #aaa;
}
/* }}} */
