/* $Id$ */
/* Top level form and parent elements {{{ */
#ecenter-weathermap-select-form {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
/* }}} */
/* Map {{{ */
#weathermap-wrapper {
  margin-bottom: 1.5em;
}
#weathermap-map {
  width: 660px;
  float: left;
  margin-right: 20px;
}
.no-js #weathermap-map {
  height: 0;
}
/* }}} */
/* Query interface {{{ */
#query-wrapper {
  float: left;
  width: 260px;
}
#query-wrapper #instructions {
  font-size: .92em;
  font-weight: bold;
  margin-bottom: 2em;
}
#query-wrapper label {
  font-size: .92em;
}
#query-wrapper .form-item {
  margin-bottom: .25em;
}
#query-wrapper #src-wrapper {
  margin-bottom: .75em;
}
#query-wrapper #dst-wrapper {
  margin-bottom: 2em;
}
#query-wrapper #src-wrapper label,
#query-wrapper #dst-wrapper label {
  float: left;
  width: 85px;
  margin-right: 5px;
}
#query-wrapper #src-wrapper input,
#query-wrapper #dst-wrapper input {
  float: left;
  width: 133px;
  padding-left: 3px;
  padding-right: 3px;
  border-right: none;
}
#query-wrapper .container-inline-date input {
  font-size: .875em;
}
#query-wrapper .container-inline-date label {
  width: 85px;
  margin-right: 5px;
}
#query-wrapper .container-inline-date .form-item,
#query-wrapper .container-inline-date label {
  float: left;
}
#query-wrapper #edit-weathermap-wrapper-query-start-datepicker-popup-0,
#query-wrapper #edit-weathermap-wrapper-query-end-datepicker-popup-0 {
  width: 90px;
  margin-right: 5px;
}
#query-wrapper #edit-weathermap-wrapper-query-start-timeEntry-popup-1,
#query-wrapper #edit-weathermap-wrapper-query-end-timeEntry-popup-1 {
  width: 52px;
  margin-right: 0;
}
#query-wrapper .container-inline-date .form-item .form-item .description {
  display: none;
}
#query-wrapper #date-description-wrapper {
  font-size: .75em;
  color: #555;
}
#query-wrapper .form-required {
  display: none;
}
#query-wrapper .ui-button-text {
  line-height: 1.3;
  padding: 0;
}
#query-wrapper button.ui-button-icon-only {
  width: 1.8em;
  border-color: #999;
}
/* }}} */
/* Loading {{{ */
#ecenter-weathermap-select-form.data-loading .datehide-display .date {
  background-color: #eee;
  color: #aaa;
}
#ecenter-weathermap-select-form .progress-disabled {
  float: none;
}
#ecenter-weathermap-select-form .ahah-progress {
  display: none;
}
.loading-overlay {
  background-color:rgba(255,255,255,0.75);
  text-align: center;
}
.loading-overlay p {
  margin-top: 20px;
  text-align: center;
  font-size: 3em;
}
/* }}} */
/* Results display {{{ */
/*#results-wrapper {
  margin-top: 1.5em;
}
html.js .end-to-end-results {
  display: none;
}
#weathermap-end-to-end-results {
  float: left;
  width: 270px;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}
#weathermap-end-to-end-results .issue-link a {
  display: block;
  width: 100%;
  text-align: center;
}
#weathermap-end-to-end-results .issue-link,
#weathermap-end-to-end-results .date-range {
  margin-bottom: 1em;
}
#weathermap-end-to-end-results table {
  font-size: 11px;
  margin-bottom: 1em;
  width: 100%;
}
#weathermap-end-to-end-results .date-range {
  font-weight: bold;
  font-size: 12px;
}
#weathermap-end-to-end-results table th {
  padding: 0;
}
#weathermap-end-to-end-results table tr {
  background-color: transparent !important;
}
#weathermap-end-to-end-results table thead th,
#weathermap-end-to-end-results table tbody th {
  color: #222;
  background: none;
  border: none;
  text-transform: uppercase;
}
#weathermap-end-to-end-results table thead th {
  border-left: 5px solid #fff;
  border-bottom: 1px solid #999;
  text-align: center;
}
#weathermap-end-to-end-results table thead th.empty {
  border: none;
}
#weathermap-end-to-end-results table td {
  border: none;
}
#weathermap-end-to-end-results table.end-to-end-table td {
  text-align: center;
}
#weathermap-end-to-end-results table td .value {
  font-size: 12px;
}
#weathermap-end-to-end-results table td.avg .value {
  font-size: 14px; 
  font-weight: bold;
}
#weathermap-end-to-end-results table.path-table th {
  width: 80px;
  font-weight: bold;
}*/
/* }}} */
/* Traceroute "subway map" {{{ */
.trace-label {
  line-height: 1.1;
  font-size: 11px;
}
.hostname {
  font-weight: bold;
}
.traceroute-graph-wrapper .labels-left .trace-label {
  text-align: right;
}
.hop-wrapper {
  background-color: #fff;
  padding: 14px;
  border: 3px solid #ccc;
}
#traceroute .has-chart {
  color: #007700;
}

#traceroute {
  float: left;
  width: 368px;
  margin-right: 12px;
}
#results {
  float: left;
  width: 560px;
}
#traceroute .highlight {
  background-color: #ffffaa;
}
/* }}} */
/* Charts {{{ */
html.js #results .snmp-data-table {
  display: none;
}
/* }}} */
