# Your application's name
appname: "ads"
layout: "main"
logger: "console"
charset: "UTF-8"
plugins:
   DBIC:
     dbix:
       schema_class: Ecenter::DB
       dsn: dbi:mysql:localhost:dbname=ecenter_data
       user: ecenter
       pass: ecenter2010
       debug: 1
       options:
          ShowErrorStatement: 1
          RaiseError: 1
          PrintError: 1
          AutoCommit: 1
   Database:
     connections:
       ecenter:
          driver: mysql
          database: ecenter_data
          host: localhost
          username: ecenter
          password: ecenter2010
          connection_check_threshold: 10
          debug: 1
          dbi_params:
             ShowErrorStatement: 1
             RaiseError: 1
             PrintError: 1
             AutoCommit: 1
